@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
<head>
    <title>HI</title>
</head>
<body>
    <h1>
        HI
    </h1>
</body>
</html>
@{
}
